.aboutmetext {
    text-align: justify;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}
#aboutmediv {
    width: 100%;
    background-color: var(--secondary-bg-color);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Tooltip inner content */
.custom-tooltip .tooltip-inner {
    background-color: var(--tooltip-bg-color); /* Example: green color */
    color: white !important;             /* White text */
    font-size: 1rem;                     /* Optional: adjust text size */
    border-radius: 0.25rem;              /* Rounded edges */
}

/* Tooltip arrow */
.custom-tooltip .arrow::before {
    border-bottom-color: #4caf50 !important; /* Matches tooltip background */
}
